[Desktop Entry]
Name=MochaTheme Style 5
Comment=Custom Gnome Shell Theme
Exec=dconf write /org/gnome/shell/extensions/user-theme/name "'MochaTheme-5'"
Icon=/home/void/.local/share/icons/desktop/style5.png
Type=Application
