[Desktop Entry]
Name=MochaTheme Style 3
Comment=Custom Gnome Shell Theme
Exec=dconf write /org/gnome/shell/extensions/user-theme/name "'MochaTheme-3'"
Icon=/home/void/.local/share/icons/desktop/style3.png
Type=Application
