[Desktop Entry]
Name=Show Top Bar
Comment=hidetopbar extension must be installed
Exec=gnome-extensions disable hidetopbar@mathieu.bidon.ca
Icon=/home/void/.local/share/icons/desktop/extension.png
Type=Application
