[submodule "config/nvim/kickstart.nvim"]
	path = config/nvim/kickstart.nvim
	url = https://github.com/nvim-lua/kickstart.nvim
[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule "config/bat/themes"]
	path = config/bat/themes
	url = https://github.com/catppuccin/bat
[submodule "config/btop/themes"]
	path = config/btop/themes
	url = https://github.com/catppuccin/btop
