[submodule "config/alacritty/catppuccin"]
	path = config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
[submodule "config/bat/themes"]
	path = config/bat/themes
	url = https://github.com/catppuccin/bat
[submodule "config/btop/themes"]
	path = config/btop/themes
	url = https://github.com/catppuccin/btop
[submodule "config/kitty/themes"]
	path = config/kitty/catppuccin
	url = https://github.com/catppuccin/kitty
[submodule "config/foot/themes"]
	path = config/foot/themes
	url = https://github.com/catppuccin/foot
[submodule "config/hypr/hyprland"]
	path = config/hypr/hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "themes"]
	path = themes
	url = https://github.com/lime-desu/MochaTheme
